h1 {
  font-family: 'Cookie', cursive;
  font-size: 60px;
}

h3 {
  font-family: 'Cookie', cursive;
  font-size: 40px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

body {
  background-image: url(animals.jpg);
  background-size: 100% auto;
}

hr {
  border-top: 5px dashed black;
}

ol {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  list-style-type: georgian;
  text-align:center;
  list-style-position: inside;
}

th {
  font-family: 'Cookie', cursive;
  font-size: 30px;
}

td {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

ul {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  list-style-type: lower-roman;
  text-align:center;
  list-style-position: inside;
}

a {
  color: black;
  font-family: 'Lato', sans-serif;
}
